@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Indie+Flower&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 14px;
    overflow-x: hidden;
}
body{
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
/* Sidebar Styling Goes Here */
.sidebar{

    width: 280px;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    overflow-y:scroll;
    margin-bottom: 3rem;
}
.sidebar .logo{
    border: 5px solid grey;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    
}
.logo img{
    width: 100%;
    height: 100%;
}
.sidebar .navbar-list{
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}
.navbar-list .nav-item{
    margin-bottom: 1.5rem;
}
.navbar-list .nav-link{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: #212529;
    transition: all 0.23s ease-in;
}
.navbar-list .nav-link.active{
    color: #ff014f;
}
.navbar-list .nav-link:hover{
    color: #ff014f;
}
.navbar-list .nav-item i{
    margin-right: 10px;
}
.sidebar .social-links h4{
    font-size: 1.2rem;
    color: #212528;
    margin-bottom: 1.5rem;
}
.social-links a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#212529;
    margin-right: 8px;
    padding: 14px 20px;
    line-height: 21px;
    border-radius: 6px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out
}
.social-links a:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
    background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: #fff;
}
.social-links a i{
    font-size: 1.3rem;
}
/* Sidebar Styling Ends */

.main{
    max-width: 950px;
    width: 100%;
    height: 60%;
    margin-left: 280px;
    padding: 1rem;
}
.home{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-container .image{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    animation: changeBorder 5s linear 4s infinite;
    transition: all 1s ease-in-out;
}
.home-container .image img{
    width: 100%;
    height: 100%;
}
.home-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.home-container h2 span{
    text-transform: uppercase;
}
.home-container p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #bf3a30;
}
.home-container a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#212529;
    margin-right: 8px;
    padding: 14px 20px;
    line-height: 21px;
    border-radius: 6px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out
}
.home-container a:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
    background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: #fff;
}
@keyframes changeBorder {
    0%{
        border:6px solid #864ba2;
    }
    25%{
        border:6px solid grey;
    }
    50%{
        border:6px solid #bf3a30;
    }
    75%{
        border:6px solid aqua;
    }
    100%{
        border:6px solid green;
    }
}


/* Features Styling Start */
.features{
    width: 100%;
    min-height: 100vh;
    padding-top: 3rem;
}
.features .features-container{
    padding: 1rem;
}
.features-container .title{
    text-align: center;
    margin-bottom: 4rem;
}
.features-container .title p{
    font-size: 1.3rem;
    color: #ff014f;
    margin-bottom: 0.7rem;
}
.features-container .title h2{
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #212529;
    font-weight: bold;
}
.features-container .features-cards{
    display: flex;
    /* gap: 1rem; */
    justify-content:space-between;
}
.features-cards .card{
    flex-basis: 20rem;
    padding: 4rem 1.5rem;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    transition: all 0.23s ease-in-out;
}
.features-cards .card :first-child{
    font-size: 2rem;
    color: #ff014f;
    margin-bottom: 2rem;
}
.features-cards .card h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #212529;
    font-weight: bold;
}
.features-cards .card p{
    font-size: 1.3rem;
text-align:justify;
margin-bottom: 2rem;

}
.features-cards .card :last-child{
    font-size: 2rem;
    color: #212528;
    display: none;
}
.features-cards .card:hover{
    transform: translateY(-16px);
    background-color: #bf3a30;
    background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: #fff;
}
.features-cards .card:hover h3{
    color: #fff !important;
}
.features-cards .card:hover :first-child{
    color: #fff !important;
}
.features-cards .card:hover :last-child{
    display: block;
    color: #fff !important;
}


/* Features Styling Ends */

/* Resume Styling Start */
.resume{
    width: 100%;
    min-height: 100vh;
   padding-top: 3rem;
}

.resume .title{
    text-align: center;
    margin-bottom: 4rem;
}
.resume .title p{
    font-size: 1.3rem;
    color: #ff014f;
    margin-bottom: 0.7rem;
}
.resume .title h2{
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #212529;
    font-weight: bold;
}    .resume .tabs{
    display: flex;
    list-style: none;
    background:#fff;
    box-shadow: 0px 0px 1px grey;
    border: none;
    outline: none;
    border-radius: 3px;
    justify-content:space-between;
    margin-bottom: 3rem;
    
}
.resume .tabs .tab{
    border-radius: 6px;
    flex-basis:250px;
    text-align: center;
    font-size: 1.5rem;
    color: #212528;
    font-weight: bold;
    padding: 1.5rem;
}
.resume .tabs .tab.active{
    box-shadow: 0px 0px 6px grey;
    color: #ff014f;
}
.resume .main-content .Education-content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resume .main-content .Education-content .left-con,.right-con{
    flex-basis: 31rem;
    /* border: 1px solid yellow; */
   /* padding: 10px; */
}
.resume .main-content .left-con .title-con{
    margin-bottom: 4rem;
    border-radius: 12px;
}
.resume .main-content .left-con .title-con p{
    color: #ff014f;
    font-size: 1.4rem;
    margin-bottom: 8px;
    
}
.resume .main-content .left-con .title-con h3{
    color: #212528;
    font-size: 1.8rem;
    font-weight: bold;
    
}
.resume .main-content .right-con .title-con{
    margin-bottom: 4rem;
    border-radius: 12px;
}
.resume .main-content .right-con .title-con p{
    color: #ff014f;
    font-size: 1.4rem;
    margin-bottom: 8px;
    
}
.resume .main-content .right-con .title-con h3{
    color: #212528;
    font-size: 1.8rem;
    font-weight: bold;
    
}
.resume .main-content .cards{
    border-left: 3px solid #ddd;
    display: flex;
    flex-direction: column;

}
.resume .main-content .cards .card{
    flex-basis: 70%;
    margin-left:2rem;
    padding: 2rem;
    background: #ffff;
    box-shadow: 0px 0px 2px grey;
    border-radius: 6px;
    position: relative;
    margin-bottom: 2rem;
} 
.resume .main-content .card::before{
    content: '';
    display: block;
    /* background: #000; */
    border: 3px solid rgb(216, 191, 191);
    background: #ff014f;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: -2.8rem;

}
.resume .main-content .card::after{
    content: '';
    display: block;
    /* background: #000; */
    background: rgb(216, 191, 191);
    width: 2rem;
    height: 4px;
    
    position: absolute;
    /* left: -1.5rem; */
    top: 2.7rem;
    z-index: -1;
    left: -22px;

}
.resume .main-content .card .degree-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
}
.resume .main-content .card .degree-title h4{
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.resume .main-content .card .degree-title p{
    font-size: 1rem;
    margin-bottom: 15px;
}
.resume .main-content .card .right{
    background: #ff014f;
    padding: 5px;
    color: #fff;
    border-radius: 3px;

}
.resume .main-content .card .descr{
    font-size: 1.3rem;
}
/* Resume Styling End */











