@media screen and (max-width:1200px) {
    .resume .tabs{
        /* justify-content: center !important; */
        flex-wrap: wrap;
    }
    .resume .tabs .tab{
        flex-basis: 400px !important;
    }
}
@media screen and (max-width:991px) {
    .sidebar{
        display: none;    
    }
    .main{
        margin-left: 0;
    }
    .features .features-cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    
}
@media screen and (max-width:768px) {
    .features .features-cards .card{
        flex-basis: 30rem;
    }
    .resume .tabs .tab{
        flex-basis: 100%;
    }
}
@media screen and (max-width:576px) {
    .features .features-cards .card{
        flex-basis: 100%;
    }
}